<?xml " encoding="UTF-8"?>
<packages>
	<package id="1password"/>
	<package id="audacity"/>
	<package id="audacity-ffmpeg"/>
	<package id="audacity-lame"/>
	<package id="brave"/>
	<package id="drivereasyfree"/>
	<package id="ffmpeg"/>
	<package id="flameshot"/>
	<package id="git.install"/>
	<package id="handbrake.install"/>
	<package id="imageglass"/>
	<package id="makemkv"/>
	<package id="mediainfo"/>
	<package id="vscode.install"/>
	<package id="mkvtoolnix"/>
	<package id="gmkvextractgui"/>
	<package id="firefox"/>
	<package id="vlc.install"/>
	<package id="winfetch"/>
	<package id="notesnook"/>
	<package id="oh-my-posh"/>
	<package id="plex"/>
	<package id="powertoys"/>
	<package id="protonvpn"/>
	<package id="protondrive"/>
	<package id="qbittorrent"/>
	<package id="soundswitch"/>
	<package id="spotify"/>
	<package id="subtitleedit"/>
	<package id="teamviewer"/>
	<package id="telegram.install"/>
	<package id="wiztree"/>
	<package id="microsoft-windows-terminal"/>
	<package id="python"/>
	<package id="wsl"/>
	<package id="tailscale"/>
	<package id="pwsh"/>
</packages>